version: '3.8'
services:

  web:
    build:
      context: ./
      dockerfile: Dockerfile
    command: gunicorn ml_project.wsgi:application --bind 0.0.0.0:8000
    ports:
      - '8000:8000'
    environment:
      - POSTGRES_DB=postgres_latest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DEBUG=1
      - SECRET_KEY=foo
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1, 192.168.1.32, 85.14.6.37, [::1]
    depends_on:
      - redis
      - db
    volumes:
      - .:/code
      - ./AutogluonModels:/app/ml-models  # <-- Named volume instead of relative path
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


  db:
    image: postgres:16
    volumes:
      - postgres_data_new:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres_latest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: always

  redis:
    image: redis:6-alpine
    restart: always

  celery_worker:
    build:
      context: ./
    command: celery -A ml_project worker -l info
    environment:
      - POSTGRES_DB=postgres_latest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DEBUG=1
      - SECRET_KEY=foo
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,85.14.6.37, 192.168.1.32 [::1]
    depends_on:
      - redis
      - web
      - db
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


  celery_beat:
    build:
      context: ./
    command: celery -A ml_project beat -l info
    environment:
      - POSTGRES_DB=postgres_latest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DEBUG=1
      - SECRET_KEY=foo
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,85.14.6.37, 192.168.1.32 [::1]
    depends_on:
      - redis
    restart: always

volumes:
  postgres_data_new:
  

